body{
    background-image: url(image/background.jpg);
    background-size: cover;
}

.container{
    padding-top: 100px;
}
.row{
    padding-top: 20px;
}

.about_me{
    padding-top: 250px; 
}

.skill{
    padding-top: 50px;
}

.kartochka{
    border:solid rgb(129, 10, 158);
    box-shadow: 0 0 .1rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #dc0ed2,
                0 0 0.8rem #dc0ed2,
                0 0 2.8rem #dc0ed2,
                inset 0 0 1.3rem #dc0ed2;
}


